@model List<Juego>

<!DOCTYPE html>
<html>
<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="~/images/favicon.png" type="">

    <title>Utopia </title>

</head>

<body>


    <div class="hero_area">
        <div class="bg-box">
            <img src="https://storageproyectoamh.blob.core.windows.net/misc/hero-bg.jpg" />
        </div>
        <!-- slider section -->
        <section class="slider_section ">
            <div id="customCarousel1" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="container ">
                            <div class="row">
                                <div class="col-md-7 col-lg-6 ">
                                    <div class="detail-box">
                                        <h1>
                                            Comida deliciosa
                                        </h1>
                                        <p>
                                            No te quedes sin probar alguno de nuestros exquisitos platos basados en populares juegos de mesa,
                                            todos ellos cuidadosamente cocinados con el cariño que se merecen. Si la carne no es lo tuyo preguntanos
                                            sobre la opción veggie
                                        </p>
                                        <div class="btn-box">
                                            <a asp-controller="Reservas" asp-action="Index" class="btn1">
                                                Reserva Ahora
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item ">
                        <div class="container ">
                            <div class="row">
                                <div class="col-md-7 col-lg-6 ">
                                    <div class="detail-box">
                                        <h1>
                                            Los juegos de mesa son lo nuestro
                                        </h1>
                                        <p>
                                            Mientras disfrutas de nuestra comida podrás jugar a alguno de los juegos que tenemos en el catálogo.
                                            Disponemos de una gran variedad, desde el clásico UNO hasta el quizás menos conocido Saboteur.
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container ">
                            <div class="row">
                                <div class="col-md-7 col-lg-6 ">
                                    <div class="detail-box">
                                        <h1>
                                            Continúa la diversión desde casa
                                        </h1>
                                        <p>
                                            Si te ha gustado alguno de los juegos que tenemos en el local tenemos buenas noticias para ti. Podrás adquirir
                                            un ejemplar de alguno de nuestros juegos ya sea en la tienda local o desde la tienda web. Echa un vistazo a nuestro
                                            catálogo haciendo clic en el botón
                                        </p>
                                        <div class="btn-box">
                                            <a asp-controller="Juegos" asp-action="Index" class="btn1">
                                                Catálogo de Juegos
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <ol class="carousel-indicators">
                        <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
                        <li data-target="#customCarousel1" data-slide-to="1"></li>
                        <li data-target="#customCarousel1" data-slide-to="2"></li>
                    </ol>
                </div>
            </div>

        </section>
        <!-- end slider section -->
    </div>
    <br />
    <!-- Seccion de juegos -->
    <section class="food_section layout_padding-bottom" id="juego">
        <div class="container">
            <div class="heading_container heading_center">
                <h2>
                    Nuestros Juegos
                </h2>
                <p><i>Todos estos juegos puedes encontralos en nuestro establecimiento, pregunta a nuestro personal</i></p>
            </div>

            <ul class="filters_menu">
                <li class="active" data-filter="*">Todo</li>
                <li data-filter=".cartas">Cartas</li>
                <li data-filter=".tableros">Tablero</li>
                <li data-filter=".rol">Rol</li>
            </ul>

            <div class="filters-content" id="juegos">
                <div class="row grid">
                    @foreach (Juego juego in Model)
                    {
                        @switch (@juego.Categoria)
                        {
                            case "Juego de cartas":
                                <div class="col-sm-6 col-lg-4 all cartas">
                                    <div class="box">
                                        <div>
                                            <div class="img-box">
                                                <img src="https://storageproyectoamh.blob.core.windows.net/juegos/@juego.Foto" alt="">
                                            </div>
                                            <div class="detail-box">
                                                <h5>
                                                    @juego.Nombre
                                                </h5>
                                                <p>
                                                    @juego.Descripcion
                                                </p>
                                                <div class="options">
                                                    <h6>
                                                        @juego.Precio &euro;
                                                    </h6>
                                                    @if (Context.User.Identity.IsAuthenticated == true)
                                                    {

                                                        <a asp-action="ListaJuegosHome" asp-controller="Carrito" asp-route-id="@juego.IdJuego">
                                                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">
                                                            <g>
                                                            <g>
                                                            <path d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248
                             c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z" />
                              </g>
                            </g>
                                                            <g>
                                                            <g>
                                                            <path d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48
                             C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064
                             c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4
                             C457.728,97.71,450.56,86.958,439.296,84.91z" />
                              </g>
                            </g>
                                                            <g>
                                                            <g>
                                                            <path d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296
                             c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z" />
                              </g>
                            </g>
                                                            <g>
                            </g>
                                                            <g>
                            </g>
                                                            <g>
                            </g>
                                                            <g>
                            </g>
                                                            <g>
                            </g>
                                                            <g>
                            </g>
                                                            <g>
                            </g>
                                                            <g>
                            </g>
                                                            <g>
                            </g>
                                                            <g>
                            </g>
                                                            <g>
                            </g>
                                                            <g>
                            </g>
                                                            <g>
                            </g>
                                                            <g>
                            </g>
                                                            <g>
                            </g>
                          </svg>
                                                        </a>
                                                        <a style="text-decoration:none;color:white" asp-controller="Juegos" asp-action="SeleccionarFavorito" asp-route-idjuego="@juego.IdJuego">❤</a>
                                                    }

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                break;

                            case "Juego de tablero":
                                <div class="col-sm-6 col-lg-4 all tableros">
                                    <div class="box">
                                        <div>
                                            <div class="img-box">
                                                <img src="https://storageproyectoamh.blob.core.windows.net/juegos/@juego.Foto" alt="">
                                            </div>
                                            <div class="detail-box">
                                                <h5>
                                                    @juego.Nombre
                                                </h5>
                                                <p>
                                                    @juego.Descripcion
                                                </p>
                                                <div class="options">
                                                    <h6>
                                                        @juego.Precio &euro;
                                                    </h6>
                                                    @if (Context.User.Identity.IsAuthenticated == true)
                                                    {
                                                        <a asp-action="ListaJuegosHome" asp-controller="Carrito" asp-route-id="@juego.IdJuego">
                                                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">
                                                            <g>
                                                            <g>
                                                            <path d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248
                             c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z" />
                              </g>
                            </g>
                                                            <g>
                                                            <g>
                                                            <path d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48
                             C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064
                             c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4
                             C457.728,97.71,450.56,86.958,439.296,84.91z" />
                              </g>
                            </g>
                                                            <g>
                                                            <g>
                                                            <path d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296
                             c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z" />
                              </g>
                            </g>
                                                            <g>
                            </g>
                                                            <g>
                            </g>
                                                            <g>
                            </g>
                                                            <g>
                            </g>
                                                            <g>
                            </g>
                                                            <g>
                            </g>
                                                            <g>
                            </g>
                                                            <g>
                            </g>
                                                            <g>
                            </g>
                                                            <g>
                            </g>
                                                            <g>
                            </g>
                                                            <g>
                            </g>
                                                            <g>
                            </g>
                                                            <g>
                            </g>
                                                            <g>
                            </g>
                          </svg>
                                                        </a>
                                                        <a style="text-decoration:none;color:white" asp-controller="Juegos" asp-action="SeleccionarFavorito" asp-route-idjuego="@juego.IdJuego">❤</a>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                break;

                            case "Juego de rol":
                                <div class="col-sm-6 col-lg-4 all rol">
                                    <div class="box">
                                        <div>
                                            <div class="img-box">
                                                <img src="https://storageproyectoamh.blob.core.windows.net/juegos/@juego.Foto" alt="">
                                            </div>
                                            <div class="detail-box">
                                                <h5>
                                                    @juego.Nombre
                                                </h5>
                                                <p>
                                                    @juego.Descripcion
                                                </p>
                                                <div class="options">
                                                    <h6>
                                                        @juego.Precio &euro;
                                                    </h6>
                                                    @if (Context.User.Identity.IsAuthenticated == true)
                                                    {
                                                        <a asp-action="ListaJuegosHome" asp-controller="Carrito" asp-route-id="@juego.IdJuego">
                                                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">
                                                            <g>
                                                            <g>
                                                            <path d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248
                             c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z" />
                              </g>
                            </g>
                                                            <g>
                                                            <g>
                                                            <path d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48
                             C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064
                             c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4
                             C457.728,97.71,450.56,86.958,439.296,84.91z" />
                              </g>
                            </g>
                                                            <g>
                                                            <g>
                                                            <path d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296
                             c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z" />
                              </g>
                            </g>
                                                            <g>
                            </g>
                                                            <g>
                            </g>
                                                            <g>
                            </g>
                                                            <g>
                            </g>
                                                            <g>
                            </g>
                                                            <g>
                            </g>
                                                            <g>
                            </g>
                                                            <g>
                            </g>
                                                            <g>
                            </g>
                                                            <g>
                            </g>
                                                            <g>
                            </g>
                                                            <g>
                            </g>
                                                            <g>
                            </g>
                                                            <g>
                            </g>
                                                            <g>
                            </g>
                          </svg>
                                                        </a>
                                                        <a style="text-decoration:none;color:white" asp-controller="Juegos" asp-action="SeleccionarFavorito" asp-route-idjuego="@juego.IdJuego">❤</a>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                break;

                        }

                    }
                </div>
            </div>
        </div>
    </section>
    <!-- fin de seccion de juegos -->
    <!-- seccion de info -->

    <section class="about_section layout_padding">
        <div class="container  ">

            <div class="row">
                <div class="col-md-6 ">
                    <div class="img-box">
                        <img src="https://storageproyectoamh.blob.core.windows.net/misc/about-img.png" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="detail-box">
                        <div class="heading_container">
                            <h2>
                                Somos Utopia
                            </h2>
                        </div>
                        <p>
                            Utopia nació con la idea de crear un sitio de reunión con amigos o familiares donde
                            poder tomar algo. Como eso sonaba bastante normal decidimos darle un toque personal,
                            por eso decidimos incluir los juegos de mesa. En nuestro local podrás disfrutar de los mejores
                            aperitivos mientras juegas a alguno de nuestros juegos, los cuales van desde los típicos
                            juegos de cartas a incluso juegos de rol. Esperamos que la experiencia sea de tu agrado
                            y que pases un buen rato con los tuyos
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- fin de la seccion de info -->

    <br />
    <!-- seccion de clientes -->

    <section class="client_section layout_padding-bottom">
        <div class="container">
            <div class="heading_container heading_center psudo_white_primary mb_45">
                <h2>
                    ¿Qué opinan nuestros clientes?
                </h2>
            </div>
            <div class="carousel-wrap row ">
                <div class="owl-carousel client_owl-carousel">
                    <div class="item">
                        <div class="box">
                            <div class="detail-box">
                                <p>
                                    Puestos a tener competencia preferimos que sea Utopia, la comida es 10/10
                                </p>
                                <h6>
                                    Burger King
                                </h6>
                                <p>
                                    Empresa de comida rápida
                                </p>
                            </div>
                            <div class="img-box">
                                <img src="https://storageproyectoamh.blob.core.windows.net/misc/burgerking.png" alt="" class="box-img">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="box">
                            <div class="detail-box">
                                <p>
                                    Menudo servicio de primera tienen aquí. Me encanta cuando las cosas se hacen como dios manda
                                </p>
                                <h6>
                                    Alberto Chicote
                                </h6>
                                <p>
                                    Chef de primera
                                </p>
                            </div>
                            <div class="img-box">
                                <img src="https://storageproyectoamh.blob.core.windows.net/misc/chicote.jpg" alt="" class="box-img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- fin de la seccion de clientes -->
</body>

</html>