@model Usuario

@{
    List<Compra> compras = ViewData["COMPRAS"] as List<Compra>;
}

@if (compras.Count() == 0)
{
    <div class="container text-center">
        <div style="margin: 0 auto" class="pt-5">
            <img src="https://storageproyectoamh.blob.core.windows.net/users/@Model.Imagen" style="border-radius: 50%; width: 15em; height: 15em; border: 5px solid #ffbe33; " />
        </div>
        <br />
        <div style="margin: 0 auto">
            <h1>@Model.Nombre</h1>
            <br />
            <h3>@Model.Email</h3>
        </div>

    </div>
    <hr />
    <div class="container text-center" style="margin:0 auto 30em">
        <h1 class="text-danger">No has comprado nada aun</h1>
        <h2>Echale un vistazo a nuestros juegos <a asp-action="Index" asp-controller="Juegos">clicando aquí</a></h2>
    </div>

}
else
{
    <div class="container text-center">
        <div style="margin: 0 auto" class="pt-5">
            <img src="https://storageproyectoamh.blob.core.windows.net/users/@Model.Imagen" style="border-radius: 50%; width: 15em; height: 15em; border: 5px solid #ffbe33; " />
        </div>
        <br />
        <div style="margin: 0 auto">
            <h1>@Model.Nombre</h1>
            <br />
            <h3>@Model.Email</h3>
        </div>
        <hr />
        <div style="margin: 0 auto">
            <h1>Compras</h1>
            <br />
            <ul class="list-group">
                @Html.Raw(@ViewData["COMPRASHTML"])
            </ul>
        </div>
        <br />
    </div>
}